:root {
/* Fundo (bem menos claro) */
--bg-cor-fundo: #1f2933;      /* Cinza grafite */
--bg-card: #2b3640;           /* Cinza azulado escuro */

/* Azul (fechado, sem brilho) */
--azul-primario: #264a73;     /* Azul petróleo escuro */
--azul-hover: #1e3a5f;        /* Azul mais profundo */
--azul-claro: #3a5068;        /* Azul acinzentado para hover */

/* Textos */
--texto-principal: #e5e7eb;   /* Cinza claro (não branco) */
--texto-secundario: #9aa5b1;  /* Cinza médio */


}

body {
  background-color: var(--bg-cor-fundo);
  color: var(--texto-principal);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
